
{% extends 'main_app/home.html' %}
{% load static %}

{%block title%} Update Profile {%endblock%}


{% block content %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2> Update Profile </h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Contact</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="contact">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Update {{profile.user.username}} profile</p>
            <h2>Update Profile</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
            </div>
            <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="contact-form">
                    <div id="success"></div>

                    {% if msg %}
                    <div class="alert alert-danger" role="alert">
                        {{msg}}
                    </div>
                    {% endif %}

                    <h2> Update Profile </h2>
                    <form class="d-flex flex-column gap-3 w-50 " action="{% url 'accounts:update_profile_page' profile.user.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-floating">
                            <label for="floatingInput">First name</label>
                            <input type="text" class="form-control" id="floatingInput" placeholder="First name" name="first_name" value="{{profile.user.first_name}}">
                        </div>

                        <div class="form-floating">
                            <label for="floatingInput">Last name</label>
                            <input type="text" class="form-control" id="floatingInput" placeholder="Last name" name="last_name" value="{{profile.user.last_name}}">
                        </div>

                        <div class="form-floating">
                            <label for="floatingInput">Age</label>
                            <input type="number" class="form-control" id="floatingInput" placeholder="Age" name="age" value="{{profile.age}}">
                        </div>

                        <div class="form-floating">
                            <label for="floatingInput">About</label>
                            <textarea  class="form-control" id="floatingInput" placeholder="about" name="about">{{profile.about}}</textarea>
                        </div>

                        <div class="form-floating">
                            <label for="floatingInput">Twitter</label>
                            <input type="url" class="form-control" id="floatingInput" placeholder="twitter_link" name="twitter_link" value="{{profile.twitter_link}}">
                        </div>

                        <div class="form-floating">
                            <label for="floatingInput">Instagram</label>
                            <input type="url" class="form-control" id="floatingInput" placeholder="instagram_link" name="instagram_link" value="{{profile.instagram_link}}">
                        </div>
                        <br>

                        <div class="form-floating">
                            <label for="floatingInput">Your Fitness Level</label><br>
                            <select class="form-select form-select-lg mb-3 w-50" aria-label=".form-select-lg example" name="level">
                                <option selected>choose one</option>
                                <option value="Beginner" {% if profile.level == "Beginner" %} selected {% endif %}>Beginner</option>
                                <option value="Intermediate" {% if profile.level == "Intermediate" %} selected {% endif %}>Intermediate</option>
                                <option value="Advanced" {% if profile.level == "Advanced" %} selected {% endif %}>Advanced</option>
                            </select>
                        </div>

                        <div class="form">
                            {% if profile.avatar %}
                                <img src="{{profile.avatar.url}}" class="avatar-big rounded-circle" />
                            {% endif %}
                            <label for="floatingAvatar">Your Avatar</label>
                            <input type="file" accept="image/png, image/jpg" class="form-control" id="floatingAvatar" placeholder="avatar" name="avatar">                                    
                        </div>

                        <div class="form">
                            <label for="floatingAvatar">Phone Number</label>
                            <input type="number" class="form-control" id="floatingAvatar" placeholder="phone_number" name="phone_number" value="{{profile.phone_number}}">
                        </div>

                        <br>

                        <button class="btn btn-primary w-100 py-2" type="submit">Update</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{%endblock%}

