{% extends 'main_app/home.html' %}
{% load static %}

{%block title%}Add Club{%endblock%}
{% block link%} {% url 'main_app:home_page' %}{%endblock%}

{% block content %}

        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2> Subscription requests </h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Clube</a>
                        <a href="">Subscription requests </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

        <div class="container">
          <div class="row">
            <div class="col-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Club Name</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Level</th>
                    <th scope="col">goal</th>
                    <th scope="col">awards</th>
                    <th scope="col">other</th>


                  </tr>
                </thead>
                <tbody>
                    {%for subscriper in subscripe%}
                  <tr>
                    <th scope="row">{{subscriper.tournament.club.name}}</th>
                    <td>{{subscriper.user.profile.user}}</td>
                    <td>{{subscriper.user.profile.age}}</td>
                    <td>{{subscriper.user.profile.level}}</td>
                      <td>{{subscriper.goal}}</td>
                      <td>{{subscriper.awards}}</td>
                      <td>{{subscriper.other}}</td>
                    <td>
                    
                    </td>
                    {%endfor%}
                  </tr>
                
                </tbody>

              </table>
            </div>
          </div>
        </div>

        {%endblock%}