{% extends 'main_app/home.html' %}
{% load static %}

{%block title%} Add Tournamemt {%endblock%}


{% block content %}

        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2> Add Tournamemt</h2>
                    </div>
                    <div class="col-12">
                        <a href="{% url 'main_app:home_page' %}">Home</a>
                        <a href="{% url 'main_app:club_home' %}">Clubs</a>
                        <a href="{% url 'main_app:add_tournament' %}"> Add Tournamemt</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Contact Start -->
        <div class="contact">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>Tournamemts</p>
                    <h2> Add Tournamemts</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="contact-form">
                            <div id="success"></div>
                            <form  method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="control-group">
                                    <input type="tect" class="form-control" id="name" placeholder="Tournament Name" required="required" data-validation-required-message="Name" name="tournament_name" />
                                </div>
                                <br>
                                <div class="control-group">
                                    <input type="tect" class="form-control" id="name" placeholder=" description" required="required" data-validation-required-message="Name" name="description" />
                                </div>
                                <br>
                                <div class="control-group">
                                    <input type="date" class="form-control" id="date" placeholder="Tournament start date" required="required" data-validation-required-message="start date" name="start_date" />
                                </div>
                                <br>
                                <div class="control-group">
                                    <input type="date" class="form-control" id="date" placeholder="Tournament end date" required="required" data-validation-required-message="end date" name="end_date" />
                                </div>
                                <br>
                                <div class="control-group">
                                    <input type="file" class="form-control" id="img" placeholder="Tournament image" required="required" data-validation-required-message="img" name="image" />
                                </div>

                              <br>
                                <div>
                                    <button class="btn" type="submit" id="sendMessageButton">Add Tournamemt</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->

{%endblock%}