{% extends 'main_app/home.html' %}
{% load static %}

{%block title%}About{%endblock%}


{% block content %}


        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Packages</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Add Package</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Contact Start -->
        <div class="contact">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>Club Package</p>
                    <h2>Add Package</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                        </div>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="contact-form">
                            <div id="success"></div>
                            <form method="POST" role="form" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label for="exampleFormControlSelect1"> Type</label>
                                    <select class="form-control" id="exampleFormControlSelect1" name="package_type">
                                      <option value="Basic">Basic</option>
                                      <option value="Standard">Standard</option>
                                      <option value="premium">premium</option>
                                    </select>
                                  </div>
                                
                                <div class="form-group">
                                  <label for="exampleFormControlInput1">Decription</label>
                                  <input type="text" class="form-control" id="exampleFormControlInput1" name="description" placeholder="description">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Duration</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" name="duration" placeholder="duration">
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleFormControlInput1">Price</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" name="price" placeholder="price">
                                  </div>

                                  <div>
                                    <button class="btn" type="submit" id="sendMessageButton"> Add Package</button>
                                </div>
                              
                          
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{%endblock%}