{% extends 'main_app/base.html' %}
{% load static %}

{%block title%} {%endblock%}


{% block content %}

        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2> Add Tournamemt</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Clube</a>
                        <a href=""> Add Tournamemt</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Contact Start -->
        <div class="contact">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p> Add Tournamemts</p>
                    <h2> Add Tournamemts</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="contact-form">
                            <div id="success"></div>
                            <form name="sentMessage" id="contactForm" novalidate="novalidate">
                                <div class="control-group">
                                    <input type="tect" class="form-control" id="name" placeholder=" Name" required="required" data-validation-required-message=" Name" />
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="control-group">
                                    <input type="date" class="form-control" id="date" placeholder="start date" required="required" data-validation-required-message="start date" />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    <input type="date" class="form-control" id="date" placeholder="end date" required="required" data-validation-required-message="end date" />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    <input type="file" class="form-control" id="img" placeholder="img" required="required" data-validation-required-message="img" />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                  <textarea name="description" rows="8" cols="80"></textarea>
                                </div>
                                <div>
                                    <button class="btn" type="submit" id="sendMessageButton">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->

{%endblock%}