{% extends 'main_app/home.html' %}
{% load static %}

{%block title%}About{%endblock%}


{% block content %}


        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Contact</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Contact Start -->
        <div class="contact">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>Get In Touch</p>
                    <h2>For Any Quations</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-4 contact-item wow zoomIn" data-wow-delay="0.2s">
                                <i class="fa fa-map-marker-alt"></i>
                                <div class="contact-text">
                                    <h2>Location</h2>
                                    <p>Saudi Arabia , Riyadh, Tuwaiq Acadime</p>
                                </div>
                            </div>
                            <div class="col-md-4 contact-item wow zoomIn" data-wow-delay="0.4s">
                                <i class="fa fa-phone-alt"></i>
                                <div class="contact-text">
                                    <h2>Phone</h2>
                                    <p>+966 507765555</p>
                                </div>
                            </div>
                            <div class="col-md-4 contact-item wow zoomIn" data-wow-delay="0.6s">
                                <i class="far fa-envelope"></i>
                                <div class="contact-text">
                                    <h2>Email</h2>
                                    <p>Alkhoud@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="contact-form">
                            <div id="success"></div>
                            <form method="POST" role="form" enctype="multipart/form-data">
                                {% csrf_token %}


                                <div class="form-group">
                                  <label for="exampleFormControlInput1">Name</label>
                                  <input type="text" class="form-control" id="exampleFormControlInput1" name="name" placeholder="name">
                                </div>
                                <div class="form-group">
                                  <label for="exampleFormControlInput1">decription</label>
                                  <input type="text" class="form-control" id="exampleFormControlInput1" name="decription" placeholder="decription">
                                </div>
                                <div class="form-group">
                                  <label for="exampleFormControlInput1">img</label>
                                  <input type="file" class="form-control" id="exampleFormControlInput1" name="image" placeholder="image">
                                </div>
                                <div class="form-group">
                                  <label for="exampleFormControlSelect1">Sport Type</label>
                                  <select class="form-control" id="exampleFormControlSelect1" name="type">
                                    <option value="Gym">Gym</option>
                                    <option value="Self_defense">Self_defense</option>
                                    <option value="Equestrian">Equestrian</option>
                                  </select>
                                </div>
                              
                                  <div class="form-group">
                                    <label for="exampleFormControlSelect1">Cities</label>
                                    <select class="form-control" id="exampleFormControlSelect1" name="city">
                                      <option value="Riyadh">Riyadh</option>
                                      <option value="Jeddah">Jeddah</option>
                                      <option value="Hail">Hail</option>
                                      <option value="Dammam">Dammam</option>
                                    </select>
                                    </div>
                                <div class="col-lg-6 col-md-10 col-8 mx-auto">
                                  <button type="submit" class="form-control">Add</button>
                              </div>
                              
                          
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{%endblock%}