{% extends 'main_app/base.html' %}
{% load static %}

{%block title%} {%endblock%}


{% block content %}


        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2> Clube Subscripers</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Clube</a>
                        <a href="">Clube Subscripers</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

        <div class="container">
          <div class="row">
            <div class="col-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Package Type</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Name customer</td>
                    <td>25</td>
                    <td>Standard</td>

                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Name customer</td>
                    <td>25</td>
                    <td>VIP</td>

                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Name customer</td>
                    <td>25</td>
                    <td>Standard</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>



        
{%endblock%}