{% extends 'main_app/home.html' %}
{% load static %}

{%block title%}About{%endblock%}


{% block content %}

        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Class</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Class</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Class Start -->
        <div class="class">
            <div class="container">
              <div class="sidebar-widget wow fadeInUp">
                  <div class="search-widget">
                      <form>
                          <input class="form-control" type="text" placeholder="Search Keyword">
                      </form>
                  </div>
              </div>
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>Our Clubs</p>
                    <h2>Clubs for Self defense sport</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul id="class-filter">
                            <li data-filter="*" class="filter-active">All Cities</li>
                            <li data-filter=".filter-1">Riyadh</li>
                            <li data-filter=".filter-2">Jeddah</li>
                            <li data-filter=".filter-3">Hail</li>
                            <li data-filter=".filter-4">Dammam</li>
                        </ul>
                    </div>
                </div>
                <div class="row class-container">
                    {% for club in all_club %}
                    <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-1 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="class-wrap">
                           
                            <div class="class-img">
                                <a href="#"><img src="img/pelatis.jpeg" alt="Image"></a>
                            </div>
                            <div class="class-text">
                              <a href="single.html"> <h2>{{club.name}}</h2></a>
                                <div class="class-meta">
                                    <p><i class="far fa-calendar-alt"></i>Sun, Tue, Thu</p>
                                    <p><i class="far fa-clock"></i>9:00 - 10:00</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {%endfor%}
                </div>
            </div>
        </div>
        <!-- Class End -->


{%endblock%}