{% extends 'main_app/home.html' %}
{% load static %}

{%block title%} Club details {%endblock%}

{%block content%}
    <!-- Single Post Start-->
    <div class="single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-content wow fadeInUp">
                        <img src="{{club_detail_id.image.url}}" />
                    </div>
                    <div class="single-bio wow fadeInUp">
                        <div class="single-bio-text">
                            <h3>{{club_detail_id.name}}</h3>
                            <p>
                                Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea dictumst.
                            </p>
                                <h3>Description</h3>
                                <p>
                                    {{club_detail_id.decription}}
                                </p>
                                <h3>location</h3>
                                <p>
                                    {{club_detail_id.city}}
                                </p>
                                <h3>Time Work</h3>
                                <p>

                                </p>
                                <h3>Sport Type</h3>
                                <p>{{club_detail_id.type}}</p>
                        </div>
                    </div>


                    <!-- Price Start -->

                    <div class="price">
                        <div class="container">
                            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                                <p>Club Package</p>
                                <h2>Club Pricing Plan</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.0s">
                                    <div class="price-item">
                                        <div class="price-header">
                                            <div class="price-title">
                                                <h2>{{package.type}}</h2>
                                            </div>
                                            <div class="price-prices">
                                                <h2><small>$</small>49<span>/ mo</span></h2>
                                            </div>
                                        </div>
                                        <div class="price-body">
                                            <div class="price-description">
                                                <ul>
                                                    <li>Personal Trainer</li>
                                                    <li>Special Class</li>
                                                    <li>Free Tutorials</li>
                                                    <li>Group Training</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="price-footer">
                                            <div class="price-action">
                                                <a class="btn" href="buy.html">Join Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="price-item featured-item">
                                        <div class="price-header">
                                            <div class="price-status">
                                                <span>Popular</span>
                                            </div>
                                            <div class="price-title">
                                                <h2>Standard</h2>
                                            </div>
                                            <div class="price-prices">
                                                <h2><small>$</small>99<span>/ mo</span></h2>
                                            </div>
                                        </div>
                                        <div class="price-body">
                                            <div class="price-description">
                                                <ul>
                                                    <li>Personal Trainer</li>
                                                    <li>Special Class</li>
                                                    <li>Free Tutorials</li>
                                                    <li>Group Training</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="price-footer">
                                            <div class="price-action">
                                                <a class="btn" href="buy.html">Join Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s">
                                    <div class="price-item">
                                        <div class="price-header">
                                            <div class="price-title">
                                                <h2>Premium</h2>
                                            </div>
                                            <div class="price-prices">
                                                <h2><small>$</small>149<span>/ mo</span></h2>
                                            </div>
                                        </div>
                                        <div class="price-body">
                                            <div class="price-description">
                                                <ul>
                                                    <li>Personal Trainer</li>
                                                    <li>Special Class</li>
                                                    <li>Free Tutorials</li>
                                                    <li>Group Training</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="price-footer">
                                            <div class="price-action">
                                                <a class="btn" href="buy.html">Join Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Price End -->



                    <!-- Price Start -->
                    <div class="price">
                        <div class="container">
                            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                                <p>Club Package</p>
                                <h2>Discounts and Offers</h2>
                            </div>
                            <div class="row">
                                {% for offer in all_offers%}
                                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="price-item featured-item">
                                        <div class="price-header">
                                            <div class="price-status">
                                                <div class="ribbon">
                                                <span>{{offer.price}}%</span>
                                            </div>
                                            </div>
                                            <div class="price-title">
                                                <h2>Club 3</h2>
                                            </div>
                                            <div class="price-prices">
                                                <h2><small>$</small>99<span>/ mo</span></h2>
                                            </div>
                                        </div>
                                        <div class="price-body">
                                            <div class="price-description">
                                                <ul>
                                                    <li>Group Training</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="price-footer">
                                            <div class="price-action">
                                                <a class="btn" href="{% url 'main_app:buy'  %}">Join Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        {%endfor%}
                    </div>
                    <!-- Price End -->


                    <!-- Blog Start -->
                    <div class="blog">
                        <div class="container">
                            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                                <p>All Tournament</p>
                                <h2>My Tournament</h2>
                            </div>
                            <div  style="Width:1000px; "class="row blog-page">
                                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                                    <div class="blog-item">
                                        <div class="blog-img">
                                            <img src="img/blog-1.jpg" alt="Blog">
                                        </div>
                                        <div class="blog-text">
                                            <h2>Lorem ipsum dolor</h2>
                                            <div class="blog-meta">
                                                <p><i class="far fa-list-alt"></i>Body Fitness</p>
                                                <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                                                <p><i class="far fa-comments"></i>5</p>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus tortor
                                            </p>
                                            <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <!-- Blog End -->
                    <div class="single-comment wow fadeInUp">
                        <h2>2 Comments</h2>
                        <ul class="comment-list">
                            <li class="comment-item">
                                <div class="comment-body">
                                    <div class="comment-img">
                                        <img src="img/user.jpg" />
                                    </div>
                                    <div class="comment-text">
                                        <h3><a href="">Customer name</a></h3>
                                        <span>01 Jan 2045 at 12:00pm</span>
                                        <p>
                                            Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea dictumst.
                                        </p>
                                        <a class="btn" href="">Reply</a>
                                    </div>
                                </div>
                            </li>
                            <li class="comment-item">
                                <div class="comment-body">
                                    <div class="comment-img">
                                        <img src="img/user.jpg" />
                                    </div>
                                    <div class="comment-text">
                                        <h3><a href="">Customer name</a></h3>
                                        <p><span>01 Jan 2045 at 12:00pm</span></p>
                                        <p>
                                            Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea dictumst.
                                        </p>
                                        <a class="btn" href="">Reply</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="comment-form wow fadeInUp">
                        <h2>Leave a comment</h2>
                        <form>
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="message">Message *</label>
                                <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                            <div class="container">
                                <span id="rateMe3"  class="rating-faces"></span>
                            </div>
                            <div class="container">
                                    <span id="rateMe2"  class="empty-stars"></span>
                                </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="sidebar-widget wow fadeInUp">
                            <div class="search-widget">
                                <form>
                                    <input class="form-control" type="text" placeholder="Search Keyword">
                                    <button class="btn"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="sidebar-widget wow fadeInUp">

                        </div>

                        <div class="sidebar-widget wow fadeInUp">
                            <div class="tab-post">
                                <ul class="nav nav-pills nav-justified">
                                </ul>

                                <div class="tab-content">
                                    <div id="featured" class="container tab-pane active">
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="img/post-1.jpg" />
                                            </div>
                                            <div class="post-text">
                                                <h3>Coach Name</h3>
                                                <a href="">Coach Description</a>
                                                <div class="post-meta">
                                                    <p><a href="">Type Training</a></p>
                                                    <p><a href="">Experinece</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="img/post-2.jpg" />
                                            </div>
                                            <div class="post-text">
                                                <h3>Coach Name</h3>
                                                <a href="">Coach Description</a>
                                                <div class="post-meta">
                                                    <p><a href="">Type Training</a></p>
                                                    <p><a href="">Experinece</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="img/post-3.jpg" />
                                            </div>
                                            <div class="post-text">
                                                <h3>Coach Name</h3>
                                                <a href="">Coach Description</a>
                                                <div class="post-meta">
                                                    <p><a href="">Type Training</a></p>
                                                    <p><a href="">Experinece</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="img/post-4.jpg" />
                                            </div>
                                            <div class="post-text">
                                                <h3>Coach Name</h3>
                                                <a href="">Coach Description</a>
                                                <div class="post-meta">
                                                    <p><a href="">Type Training</a></p>
                                                    <p><a href="">Experinece</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="img/post-5.jpg" />
                                            </div>
                                                <div class="post-text">
                                                <h3>Coach Name</h3>
                                                    <a href="">Coach Description</a>
                                                    <div class="post-meta">
                                                    <p><a href="">Type Training</a></p>
                                                    <p><a href="">Experinece</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                    <div id="popular" class="container tab-pane fade">
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="img/post-1.jpg" />
                                            </div>
                                            <div class="post-text">
                                                <h3>Coach Name</h3>
                                                <a href="">Coach Description</a>
                                                <div class="post-meta">
                                                    <p><a href="">Type Training</a></p>
                                                    <p><a href="">Experinece</a></p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div id="latest" class="container tab-pane fade">
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="img/post-1.jpg" />
                                            </div>
                                            <div class="post-text">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                <div class="post-meta">
                                                    <p>By<a href="">Admin</a></p>
                                                    <p>In<a href="">Design</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="img/post-2.jpg" />
                                            </div>
                                            <div class="post-text">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                <div class="post-meta">
                                                    <p>By<a href="">Admin</a></p>
                                                    <p>In<a href="">Design</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="img/post-3.jpg" />
                                            </div>
                                            <div class="post-text">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                <div class="post-meta">
                                                    <p>By<a href="">Admin</a></p>
                                                    <p>In<a href="">Design</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="img/post-4.jpg" />
                                            </div>
                                            <div class="post-text">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                <div class="post-meta">
                                                    <p>By<a href="">Admin</a></p>
                                                    <p>In<a href="">Design</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="img/post-5.jpg" />
                                            </div>
                                            <div class="post-text">
                                                <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                <div class="post-meta">
                                                    <p>By<a href="">Admin</a></p>
                                                    <p>In<a href="">Design</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Single Post End-->

        {%endblock%}


