{% extends 'main_app/base.html' %}
{% load static %}

{%block title%} {%endblock%}
{% block content %}



<div class="hero">
    <div class="container-fluid">
    <!---  <video class="w-100" autoplay loop muted>
      <source src="https://cdn.mt.gov.sa/mtportal/mt-fe-production/resources/videos/home/mt-home-video-092021-2.webm" type="video/mp4" />
    </video> --->
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6">
                <div class="hero-text">
                    <h1>To sports lovers in Saudi Arabia</h1>
                    <p>

                      A women's platform that brought together sports enthusiasts with clubs that suit their various hobbies and facilitated their participation in clubs by providing distinguished services.

                    </p>
                    <div class="hero-btn">
                        <a class="btn" href="">Join Now</a>
                        <a class="btn" href="">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 d-none d-md-block">
                <div class="hero-image">
                    <img src="img/hero.png" alt="Hero Image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->




<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Team Members</p>
            <h2>Full - Stack Developers</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="img/1.jpg" alt="Image">
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Juhaina Alrashidi</h2>
                        <p>Software Engineer</p>
                    </div>
                    <div class="hero-btn">
                        <a class="btn" href="add_coach.html">Edit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="img/1.jpg" alt="Image">
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Ryouf Alarfaj</h2>
                        <p>Data analyist</p>
                    </div>
                    <div class="hero-btn">
                      <a class="btn" href="add_coach.html">Edit</a>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="img/1.jpg" alt="Image">
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Hessah Alammar</h2>
                        <p>Computer Scince</p>
                    </div>
                    <div class="hero-btn">
                      <a class="btn" href="add_coach.html">Edit</a>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="img/1.jpg" alt="Image">
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Amani Alsobaie</h2>
                        <p>IT</p>
                    </div>
                    <a class="btn" href="add_coach.html">Edit</a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

{%endblock%}