{% extends 'main_app/home.html' %}
{% load static %}

{%block title%}Success{%endblock%}


{% block content %}
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Success Message</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Contact</a>
                    </div>

                   
                </div>
            </div>
        </div>
        <!-- Page Header End -->

        <div style="align-items:center; padding: 7rem; margin-left: 300px;">
            <h4><b>Your message sent successfully</b></h4>
            <br>
            <h5> We will contact with you as soon as posible</h5>

        </div>


{%endblock%}